@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #9161f9e6;
  color: white;
}

.active:hover {
  background-color: #9161f9e6 !important;
  color: white !important;
}

select {
  background-image: url("/images/down-arrow.png") !important;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 14px !important;
}

div[drawer-backdrop] {
  z-index: 40;
}

.relative.rounded-lg.bg-white.shadow {
  height: 450px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .relative.rounded-lg.bg-white.shadow {
    height: 400px;
    width: 300px;
  }
}
